[submodule "external/filesystem"]
	path = external/filesystem
[submodule "external/pybind11"]
	path = external/pybind11
[submodule "external/eigen"]
	path = external/eigen
[submodule "external/fmt"]
	path = external/fmt
[submodule "external/mpir"]
	path = external/mpir
